<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Quiz</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS for better UI -->
    <style>
        body {
            background-color: #f1e5e3;
        }
        .navbar {
            background-color: #E1c5c0;
        }
        .navbar-brand, .navbar-nav .nav-link {
            color: #fff;
        }
        .navbar-brand:hover, .navbar-nav .nav-link:hover {
            color: #f1e5e3;
        }
        h1 {
            color: #d8b0b6;
        }
        .btn-custom {
            background-color: #E1c5c0;
            border-color: #E1c5c0;
            color: #ffffff; 
        }
        .btn-custom:hover,
        .btn-custom:focus {
            background-color: #d1b3ae; 
            border-color: #d1b3ae;
            color: #ffffff; 
        }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#"> <b><i>Quizzeria</i></b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addQuiz">Create Quiz</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  <div class="container">
    <br>
    <div class="text-center"><h2>Add New Quiz</h2></div>
    <br>
    <form action="/addQuiz" method="POST">
      <div class="mb-3">
        <label for="quizName" class="form-label">Title</label>
        <input type="text" class="form-control" id="quizName" name="quizName" required>
      </div>
      <div class="mb-3">
        <label for="quizDescription" class="form-label">Description</label>
        <input type="text" class="form-control" id="quizDescription" name="quizDescription" required>
      </div>
      <input type="hidden" name="createdBy" value="1"> 
      <button type="submit" class="btn btn-custom">Add Quiz</button>
    </form>
  </div>
</body>
</html>
